html {
  font-family: "Roboto", sans-serif;
}

body {
  color: #000;
}

h4 {
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px) {
  h4 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 576px) {
  h4 {
    font-size: 18px;
  }
}

.fixed_wrapper {
  position: relative;
  overflow: hidden;
  height: 1020px;
  margin-bottom: 130px;
}
@media only screen and (max-width: 1660px) {
  .fixed_wrapper {
    height: 930px;
  }
}
@media only screen and (max-width: 1400px) {
  .fixed_wrapper {
    height: 660px;
  }
}
@media only screen and (max-width: 1200px) {
  .fixed_wrapper {
    height: 520px;
  }
}
@media only screen and (max-width: 576px) {
  .fixed_wrapper {
    height: 400px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .fixed_wrapper {
    height: 230px;
    margin-bottom: 60px;
  }
}

.fixed_target {
  bottom: -1040px;
}
@media only screen and (max-width: 1660px) {
  .fixed_target {
    bottom: -930px;
  }
}
@media only screen and (max-width: 1400px) {
  .fixed_target {
    bottom: -660px;
  }
}
@media only screen and (max-width: 1200px) {
  .fixed_target {
    bottom: -520px;
  }
}
@media only screen and (max-width: 576px) {
  .fixed_target {
    bottom: -400px;
  }
}
@media only screen and (max-width: 400px) {
  .fixed_target {
    bottom: -230px;
  }
}

.fixed,
.fixed_target {
  position: absolute;
  top: 33px;
  right: 0;
  left: 0;
}

.fixed {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 5vw;
  line-height: 1em;
  color: white;
}

.animated-heading {
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.animated-heading-line {
  display: inline-block;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  opacity: 0;
  -moz-animation-delay: -1s !important;
  animation: fade-in-heading 0.4s ease-out forwards, flip-heading 0.4s ease-out forwards;
  -webkit-animation: fade-in-heading 0.4s ease-out forwards, flip-heading 0.4s ease-out forwards;
}

@keyframes fade-in-heading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flip-heading {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
html.has-scroll-smooth {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

button,
input {
  font-weight: 400 !important;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s ease-in-out forwards;
  -webkit-animation: fade-in-animation 1s ease-in-out forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-head {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.animated-heading-line:nth-child(1) {
  animation-delay: 0.1s;
}

.animated-heading-line:nth-child(2) {
  animation-delay: 0.5s;
}

.animated-heading-line:nth-child(3) {
  animation-delay: 1.6s;
}

@media only screen and (min-width: 991px) {
  .container {
    padding: 0 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 1660px) {
  .container {
    padding: 0 12px;
  }
}

.only_desktop {
  display: block;
}
@media only screen and (max-width: 991px) {
  .only_desktop {
    display: none;
  }
}

.only_desktop_card_scroller {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .only_desktop_card_scroller {
    display: none;
  }
}

.only_mobile {
  display: none;
}
@media only screen and (max-width: 991px) {
  .only_mobile {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .container-fluid {
    padding: 0;
  }
}

.helper {
  height: 50px;
  background: rgba(68, 54, 54, 0.0509803922);
}

.logo_header_desktop {
  position: fixed;
  display: block;
  cursor: pointer;
  z-index: 1;
  left: 84px;
  top: -30px;
  animation: logo_animate 2s ease-out forwards;
  -webkit-animation: logo_animate 2s ease-out forwards;
  -moz-animation-delay: -1s !important;
}
@keyframes logo_animate {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 35px;
    opacity: 1;
  }
  100% {
    top: 35px;
    opacity: 1;
  }
}
@media only screen and (max-width: 1660px) {
  .logo_header_desktop {
    left: 34px;
    top: -30px;
    width: 39px;
    animation: logo_animate 2s ease-out forwards;
    -webkit-animation: logo_animate 2s ease-out forwards;
  }
  @keyframes logo_animate {
    0% {
      top: 0;
      opacity: 0;
    }
    50% {
      top: 41px;
      opacity: 1;
    }
    100% {
      top: 41px;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 991px) {
  .logo_header_desktop {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .logo_header_mobile {
    position: absolute;
    width: 34px;
    left: 12px;
    top: -30px;
    animation: logo_animate 2s ease-out forwards;
    -webkit-animation: logo_animate 2s ease-out forwards;
  }
  @keyframes logo_animate {
    0% {
      top: 0;
      opacity: 0;
    }
    50% {
      top: 14px;
      opacity: 1;
    }
    100% {
      top: 14px;
      opacity: 1;
    }
  }
}

.get_space_en,
.get_space_sr {
  position: fixed;
  right: 84px;
  top: -70px;
  z-index: 1;
  animation: top_to_bottom 2s ease-out forwards;
  -webkit-animation: top_to_bottom 2s ease-out forwards;
  -moz-animation-delay: -1s !important;
  display: none;
}
.get_space_en.active,
.get_space_sr.active {
  display: block;
}
@keyframes top_to_bottom {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 28px;
    opacity: 1;
  }
  100% {
    top: 28px;
    opacity: 1;
  }
}
@media only screen and (max-width: 1660px) {
  .get_space_en,
  .get_space_sr {
    right: 34px;
    top: 0;
    animation: top_to_bottom 2s ease-out forwards;
    -webkit-animation: top_to_bottom 2s ease-out forwards;
  }
  @keyframes top_to_bottom {
    0% {
      top: 0;
      opacity: 0;
    }
    50% {
      top: 31px;
      opacity: 1;
    }
    100% {
      top: 31px;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 991px) {
  .get_space_en,
  .get_space_sr {
    display: none;
  }
}
.get_space_en lottie-player,
.get_space_sr lottie-player {
  width: 113px;
  height: 50px;
}
@media only screen and (max-width: 1660px) {
  .get_space_en lottie-player,
  .get_space_sr lottie-player {
    width: 90px;
    height: 40px;
  }
}

.get_space_mobile_en,
.get_space_mobile_sr {
  height: 50px;
  margin-bottom: 80px;
  display: none;
}
.get_space_mobile_en.active,
.get_space_mobile_sr.active {
  display: block;
}

.header {
  width: 100%;
  height: 100px;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  transition: transform 0.6s ease-in;
  border-bottom: unset;
  transform: translate3d(0, 0, 0);
}
@media only screen and (max-width: 991px) {
  .header {
    display: none;
  }
}
.header.unpinned {
  transform: translate3d(0, -100%, 0);
}
@keyframes opacity_animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.header .my_navbar {
  padding-top: 34px;
  width: 70%;
  margin: auto;
  text-align: center;
  position: sticky;
  animation: opacity_animation 2s ease-out forwards;
}
.header .my_navbar .language {
  font-weight: 400;
}
.header .my_navbar ul {
  padding: 0;
}
.header .my_navbar ul li {
  display: inline-block;
}
.header .my_navbar ul li:last-child {
  margin: 0 23px;
  padding: 0 8px;
}
@media only screen and (max-width: 1200px) {
  .header .my_navbar ul li:last-child {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 991px) {
  .header .my_navbar ul li:last-child {
    margin: 0 10px;
  }
}
.header .my_navbar ul a {
  all: unset;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin: 0 23px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
}
@media only screen and (max-width: 1660px) {
  .header .my_navbar ul a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .header .my_navbar ul a {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 991px) {
  .header .my_navbar ul a {
    margin: 0 10px;
  }
}
.header .navbar-collapse {
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .header .logo_holder {
    left: 30px;
    max-width: 30%;
  }
}
.header .logo_holder a {
  all: unset;
  cursor: pointer;
}
.header .logo_holder a .logo_text {
  position: absolute;
  top: 0;
  left: 141px;
  opacity: 0;
  animation: logo_text 2s ease-out forwards;
  -webkit-animation: logo_text 2s ease-out forwards;
  -moz-animation-delay: -1s !important;
}
@keyframes logo_text {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 44px;
    opacity: 1;
  }
  100% {
    top: 44px;
    opacity: 1;
  }
}
@media only screen and (max-width: 1660px) {
  .header .logo_holder a .logo_text {
    left: 83px;
    top: 0;
    width: 110px;
    animation: logo_text 2s ease-out forwards;
    -webkit-animation: logo_text 2s ease-out forwards;
  }
  @keyframes logo_text {
    0% {
      top: 0;
      opacity: 0;
    }
    50% {
      top: 48px;
      opacity: 1;
    }
    100% {
      top: 48px;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 991px) {
  .header .logo_holder a .logo_text {
    width: 100px;
  }
}
.header .login_holder {
  position: absolute;
  right: 220px;
  top: 0;
  font-size: 16px;
  top: 41px;
  font-weight: 300;
  animation: opacity_animation 2s ease-out forwards;
}
@media only screen and (max-width: 1660px) {
  .header .login_holder {
    font-size: 14px;
    right: 140px;
  }
}
.header .login_holder a {
  all: unset;
  cursor: pointer !important;
}

.storage_small_mobile {
  text-align: center;
  font-size: 18px;
  margin-bottom: 6px;
  letter-spacing: 0.7;
}
@media only screen and (max-width: 1200px) {
  .storage_small_mobile {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .storage_small_mobile {
    text-align: left;
  }
}

.storage .holder {
  width: 84%;
  margin: 280px auto 30px;
  text-align: center;
}
@media only screen and (max-width: 1660px) {
  .storage .holder {
    width: 72%;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .holder {
    width: 78%;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 36px;
  }
}
.storage .holder .subtitle {
  font-size: 18px;
}
@media only screen and (max-width: 1660px) {
  .storage .holder .subtitle {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .holder .subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder .subtitle {
    width: 65%;
    margin: auto;
    margin-bottom: 12px;
  }
}
.storage .holder .title {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1660px) {
  .storage .holder .title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .holder .title {
    font-size: 43px;
    line-height: 47px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder .title {
    font-size: 30px;
    width: 90%;
    margin: auto;
    line-height: 34px;
    margin-bottom: 16px;
  }
}
.storage .holder .img_holder {
  margin-bottom: 255px;
  animation: fade-in-animation 1s ease-in-out forwards;
  opacity: 0;
}
@media only screen and (max-width: 1200px) {
  .storage .holder .img_holder {
    margin-bottom: 195px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder .img_holder {
    margin-bottom: 80px;
  }
}
.storage .holder .img_holder video {
  max-width: 100%;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .storage .holder .img_holder video {
    width: 100%;
  }
}
.storage .holder .desc_title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 65px;
  width: 59%;
  margin: auto;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1660px) {
  .storage .holder .desc_title {
    font-size: 43px;
    line-height: 52px;
    width: 65%;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .holder .desc_title {
    font-size: 39px;
    line-height: 45px;
    width: 85%;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder .desc_title {
    font-size: 24px;
    line-height: 28px;
    width: 93%;
    text-align: left;
    margin-left: 0;
    margin-bottom: 14px;
  }
}
.storage .holder .description {
  font-size: 18px;
  width: 63%;
  margin: auto;
}
@media only screen and (max-width: 1660px) {
  .storage .holder .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .holder .description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .holder .description {
    font-size: 12px;
    width: 95%;
    text-align: left;
    margin: unset;
    letter-spacing: 0.6;
    line-height: 22px;
  }
}
.storage .storage_type {
  background: #fff;
  padding: 10% 0;
  background: #000;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .storage .storage_type {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_row_helper {
    margin: auto;
  }
}
.storage .storage_type_img_holder {
  width: 560px;
  margin: auto;
  position: relative;
  min-height: 494px;
  max-height: 494px;
}
@media only screen and (max-width: 1660px) {
  .storage .storage_type_img_holder {
    width: 558px;
  }
}
.storage .storage_type_img_holder .cube_large {
  position: absolute;
  top: 0;
  left: 100px;
  opacity: 0.14;
}
.storage .storage_type_img_holder .cube_large_animation {
  position: absolute;
  top: -58px;
  left: 63px;
  transform: scale(1.13);
  opacity: 0;
}
.storage .storage_type_img_holder .cube_medium {
  position: absolute;
  top: 171px;
  left: 125px;
  opacity: 0.2;
}
.storage .storage_type_img_holder .cube_medium_animation {
  position: absolute;
  transform: scale(1.13);
  top: 72px;
  left: 15px;
  right: 52px;
  opacity: 0;
}
.storage .storage_type_img_holder .cube_small {
  position: absolute;
  bottom: -18px;
  left: 51px;
  opacity: 0.2;
  z-index: 1;
}
.storage .storage_type_img_holder .cube_small_animation {
  position: absolute;
  top: 137px;
  left: -97px;
  right: 162px;
  transform: scale(1.13);
  opacity: 0;
  z-index: 999;
}
.storage .storage_type_img_holder .cube_mini {
  position: absolute;
  bottom: -46px;
  left: 75px;
  opacity: 0.2;
  z-index: 1;
}
.storage .storage_type_img_holder .cube_mini_animation {
  position: absolute;
  transform: scale(1.13);
  left: -124px;
  right: 185px;
  bottom: -193px;
  opacity: 0;
  z-index: 999;
}
.storage .storage_type_accordion {
  background-color: #000;
  width: 80%;
}
@media only screen and (max-width: 1200px) {
  .storage .storage_type_accordion {
    width: 90%;
  }
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion {
    margin: auto;
    width: 100%;
  }
}
.storage .storage_type_accordion .accordion-item {
  background-color: unset;
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion .accordion-item .arr_large,
  .storage .storage_type_accordion .accordion-item .arr_medium,
  .storage .storage_type_accordion .accordion-item .arr_small,
  .storage .storage_type_accordion .accordion-item .arr_mini {
    width: 20px;
  }
}
.storage .storage_type_accordion .accordion-item .accordion-collapse {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.storage .storage_type_accordion .accordion-item .acc_description {
  margin: 30px 0;
  font-size: 16px;
  text-align: left;
  color: #fff;
  opacity: 0.8;
  width: 90%;
}
@media only screen and (max-width: 1660px) {
  .storage .storage_type_accordion .accordion-item .acc_description {
    font-size: 14px;
    margin: 25px 0;
  }
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion .accordion-item .acc_description {
    font-size: 12px;
    margin: 14px 0;
  }
}
.storage .storage_type_accordion .accordion-item .cube_large_animation_mobile {
  position: relative;
  height: 298px;
  transform: scale(1.15);
  width: 79%;
  margin: auto;
}
.storage .storage_type_accordion .accordion-item .cube_medium_animation_mobile {
  position: relative;
  height: 200px;
  transform: scale(1.6);
  width: 59%;
  margin: auto;
}
.storage .storage_type_accordion .accordion-item .cube_small_animation_mobile {
  position: relative;
  height: 171px;
  transform: scale(1.8);
  width: 50%;
  margin: auto;
}
.storage .storage_type_accordion .accordion-item .cube_mini_animation_mobile {
  position: relative;
  height: 171px;
  transform: scale(2);
  width: 50%;
  margin: auto;
}
.storage .storage_type_accordion .accordion-item .acc_description_helper {
  width: 280px;
}
@media only screen and (max-width: 576px) {
  .storage .storage_type_accordion .accordion-item .acc_description_helper {
    width: 240px;
  }
}
.storage .storage_type_accordion .accordion-item .acc_description_helper_small,
.storage .storage_type_accordion .accordion-item .acc_description_helper_mini {
  width: 295px;
}
@media only screen and (max-width: 576px) {
  .storage .storage_type_accordion .accordion-item .acc_description_helper_small,
  .storage .storage_type_accordion .accordion-item .acc_description_helper_mini {
    width: 240px;
  }
}
.storage .storage_type_accordion .accordion-item .mobile_cube_small {
  margin: 36px auto 20px;
}
@media only screen and (max-width: 576px) {
  .storage .storage_type_accordion .accordion-item .mobile_cube_small {
    width: 36%;
  }
}
.storage .storage_type_accordion .accordion-item .mobile_cube_mini {
  margin: 36px auto 20px;
}
@media only screen and (max-width: 576px) {
  .storage .storage_type_accordion .accordion-item .mobile_cube_mini {
    width: 20%;
  }
}
.storage .storage_type_accordion .accordion-item .rent_btn {
  all: unset;
  cursor: pointer;
  padding: 11px 27px;
  font-size: 16px;
  color: #fff;
  margin: 36px auto;
  background: #d22730 0% 0% no-repeat padding-box;
  opacity: 1;
  display: inline-block;
  font-weight: bolder;
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion .accordion-item .rent_btn {
    font-size: 16px;
    padding: 12px 25px;
    margin: 22px auto 55px;
  }
}
.storage .storage_type_accordion .accordion-item .accordion-button {
  border-bottom: 1px solid #fff;
  padding: 28px 0;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
}
@media only screen and (max-width: 1660px) {
  .storage .storage_type_accordion .accordion-item .accordion-button {
    font-size: 30px;
    padding: 22px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .storage_type_accordion .accordion-item .accordion-button {
    padding: 17px 0;
    font-size: 26px;
  }
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion .accordion-item .accordion-button {
    padding: 14px 0;
    font-size: 18px;
  }
}
.storage .storage_type_accordion .accordion-item .accordion-button img {
  opacity: 1;
  transform: rotate(0deg);
  position: absolute;
  right: 15px;
  transition: all 0.3s;
}
.storage .storage_type_accordion .accordion-item .accordion-button.collapsed {
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 28px 0;
}
@media only screen and (max-width: 1660px) {
  .storage .storage_type_accordion .accordion-item .accordion-button.collapsed {
    padding: 22px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .storage .storage_type_accordion .accordion-item .accordion-button.collapsed {
    padding: 17px 0;
  }
}
@media only screen and (max-width: 991px) {
  .storage .storage_type_accordion .accordion-item .accordion-button.collapsed {
    padding: 14px 0;
    font-size: 18px;
  }
}
.storage .storage_type_accordion .accordion-item .accordion-button.collapsed img {
  opacity: 0.3;
  transform: rotate(180deg);
}
.storage .storage_type_accordion .accordion-item .accordion-button:focus {
  outline: none;
  box-shadow: unset;
}
.storage .storage_type_accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #000;
  color: #fff;
}
.storage .storage_type_accordion .accordion-item .accordion-button::after {
  width: 0;
  height: 0;
}

.company {
  margin-bottom: 148px;
}
@media only screen and (max-width: 1200px) {
  .company {
    margin-bottom: 100px;
  }
}
.company .store {
  margin-top: 50px;
  margin-bottom: 123px;
}
@media only screen and (max-width: 991px) {
  .company .store {
    margin-bottom: 40px;
    margin-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.company .store_title {
  text-align: left;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 45px;
}
@media only screen and (max-width: 1660px) {
  .company .store_title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .company .store_title {
    font-size: 30px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .company .store_title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 80px;
    width: 72%;
  }
}
.company .store_description {
  font-size: 18px;
  color: #000;
  text-align: left;
  margin-top: 10px;
  font-weight: 300;
}
@media only screen and (max-width: 1660px) {
  .company .store_description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .company .store_description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .company .store_description {
    font-size: 12px;
    margin-top: 14px;
    width: 90%;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.6;
  }
}
@media only screen and (max-width: 991px) {
  .company .advantages_wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .company .advantages_wrapper::after {
    content: "";
    display: block;
    width: 100%;
    margin: 90px auto;
    background-color: #a4a4a4;
    height: 1px;
    width: 95%;
  }
}
.company .advantages_wrapper .advantages {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 43px;
}
@media only screen and (max-width: 1660px) {
  .company .advantages_wrapper .advantages {
    padding-bottom: 23px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .company .advantages_wrapper .advantages {
    width: 80%;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .company .advantages_wrapper .advantages {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: unset;
  }
}
@media only screen and (max-width: 991px) {
  .company .advantages_wrapper .advantages img {
    width: 36px;
    margin: 2px auto 10px;
  }
}
.company .advantages_wrapper .advantages .title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
@media only screen and (max-width: 1660px) {
  .company .advantages_wrapper .advantages .title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .company .advantages_wrapper .advantages .title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .company .advantages_wrapper .advantages .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.company .advantages_wrapper .advantages .description {
  font-size: 16px;
}
@media only screen and (max-width: 1660px) {
  .company .advantages_wrapper .advantages .description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .company .advantages_wrapper .advantages .description {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .company .advantages_wrapper .advantages .description {
    margin-top: 4px;
    width: 63%;
    margin: auto;
  }
}
.company_offers {
  padding-bottom: 100px;
  margin-top: 320px;
}
@media only screen and (max-width: 1200px) {
  .company_offers {
    margin-top: 220px;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers {
    margin-top: 0;
    padding-bottom: 0;
  }
}
.company_offers .title_mobile .company_head_mobile {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
  line-height: 28px;
}
.company_offers .title_mobile .company_small_mobile {
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 0.7;
}
.company_offers .slide_img {
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .company_offers .slide_img {
    width: 288px;
    height: 287px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 13% 27%;
       object-position: 13% 27%;
  }
}
.company_offers .owl_one .owl-stage {
  display: flex;
  align-items: center;
}
.company_offers .owl_one .owl-dots {
  position: absolute;
  /* margin: auto; */
  bottom: 11px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.company_offers .owl_one .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background-color: #e3e1e1;
  border-radius: 50%;
  margin: 0 7px;
}
.company_offers .owl_one .owl-dots .owl-dot.active {
  background-color: #000 !important;
}
@media only screen and (max-width: 991px) {
  .company_offers .owl_one .owl-stage-outer {
    margin-right: -12px;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers .owl_one .owl-stage-outer .owl-stage {
    right: 40px;
  }
}
.company_offers .position_helper {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .company_offers .position_helper {
    height: 130px;
  }
}
.company_offers .holder {
  position: absolute;
  top: 20%;
}
@media only screen and (max-width: 1400px) {
  .company_offers .holder {
    top: 9%;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers .holder {
    top: 0;
  }
}
.company_offers .holder .title {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  line-height: 65px;
  width: 95%;
  padding-left: 120px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1660px) {
  .company_offers .holder .title {
    font-size: 43px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 1400px) {
  .company_offers .holder .title {
    width: 100%;
    padding-left: 50px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .company_offers .holder .title {
    font-size: 38px;
    line-height: 45px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers .holder .title {
    font-size: 24px;
    line-height: 28px;
  }
}
.company_offers .holder .title .company_small {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 1660px) {
  .company_offers .holder .title .company_small {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .company_offers .holder .title .company_small {
    font-size: 14px;
    font-weight: 300;
  }
}
.company_offers .holder .title .company_head {
  font-size: 50px;
  line-height: 65px;
}
@media only screen and (max-width: 1660px) {
  .company_offers .holder .title .company_head {
    font-size: 43px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 1200px) {
  .company_offers .holder .title .company_head {
    font-size: 39px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers .holder .title .company_head {
    font-size: 24px;
    line-height: 28px;
  }
}
.company_offers .holder .description {
  font-size: 18px;
  padding-left: 120px;
}
@media only screen and (max-width: 1660px) {
  .company_offers .holder .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1400px) {
  .company_offers .holder .description {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .company_offers .holder .description {
    padding-left: 0;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .company_offers .holder .description {
    font-size: 12px;
    margin-top: 20px;
    width: 90%;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.6;
  }
}

.testimonials {
  margin-bottom: 250px;
}
@media only screen and (max-width: 1200px) {
  .testimonials {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials {
    margin-bottom: 80px;
  }
}
.testimonials .testimonial_item {
  width: 60%;
  padding-left: 10%;
}
@media only screen and (max-width: 1200px) {
  .testimonials .testimonial_item {
    width: 70%;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonial_item {
    width: 100%;
    padding-left: 0;
  }
}
.testimonials .testimonial_item .text {
  font-size: 18px;
  margin-bottom: 26px;
}
@media only screen and (max-width: 1660px) {
  .testimonials .testimonial_item .text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .testimonials .testimonial_item .text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonial_item .text {
    font-size: 12px;
    width: 74%;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonial_item .user {
    width: 100%;
    margin: auto;
    margin-top: 5px;
  }
}
.testimonials .testimonial_item .user_img {
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-right: 24px;
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonial_item .user_img {
    margin-right: 6px;
  }
}
.testimonials .testimonial_item .user_description {
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
}
@media only screen and (max-width: 1660px) {
  .testimonials .testimonial_item .user_description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .testimonials .testimonial_item .user_description {
    font-size: 12px;
  }
}
.testimonials .testimonial_item .user_description .name {
  font-weight: bolder;
}
.testimonials .testimonial_item .user_description .position {
  color: #888888;
}
.testimonials .owl-item {
  position: relative;
}
.testimonials .left_arrow {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 16%;
}
@media only screen and (max-width: 991px) {
  .testimonials .left_arrow {
    top: -40px;
    right: 90px;
    width: 25px;
    height: 25px;
  }
}
.testimonials .right_arrow {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 10%;
}
@media only screen and (max-width: 991px) {
  .testimonials .right_arrow {
    top: -40px;
    right: 24px;
    width: 25px;
    height: 25px;
  }
}

.blog_holder_title {
  width: 800px;
  padding-top: 280px;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 1660px) {
  .blog_holder_title {
    width: 42%;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_holder_title {
    width: 48%;
  }
}
@media only screen and (max-width: 991px) {
  .blog_holder_title {
    width: 50%;
    padding-top: 36px;
  }
}
@media only screen and (max-width: 576px) {
  .blog_holder_title {
    width: 90%;
  }
}
.blog_holder_title .subtitle {
  font-size: 18px;
}
@media only screen and (max-width: 1660px) {
  .blog_holder_title .subtitle {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_holder_title .subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_holder_title .subtitle {
    width: 65%;
    margin: auto;
    margin-bottom: 12px;
  }
}
.blog_holder_title .title {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
  margin-bottom: -30px;
  z-index: 999;
}
@media only screen and (max-width: 1660px) {
  .blog_holder_title .title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_holder_title .title {
    font-size: 43px;
    line-height: 47px;
    margin-bottom: -20px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_holder_title .title {
    font-size: 30px;
    width: 90%;
    margin: auto;
    line-height: 34px;
    margin-bottom: -10px;
  }
}

.blog {
  background-color: hsl(0, 0%, 96%);
  padding: 200px 0 150px;
}
@media only screen and (max-width: 1200px) {
  .blog {
    padding: 120px 0;
  }
}
@media only screen and (max-width: 991px) {
  .blog {
    padding: 60px 0;
  }
}
.blog .card_wrapper {
  all: unset;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .blog .mobile_flex_helper {
    margin-right: 15px;
  }
}
.blog_title {
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  display: inline-block;
}
@media only screen and (max-width: 1660px) {
  .blog_title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_title {
    font-size: 32px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_title {
    font-size: 24px;
  }
}
.blog_small {
  all: unset;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #000;
  display: inline-block;
  float: right;
  margin-top: 4px;
  font-weight: 400;
  cursor: pointer;
}
.blog_small:hover {
  color: #000;
}
.blog_small::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 6px;
}
@media only screen and (max-width: 991px) {
  .blog_small::after {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 1660px) {
  .blog_small {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_small {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_small {
    margin-right: 30px;
    margin-right: 15%;
  }
}
.blog .margin_helper {
  margin: auto;
}
.blog .float_helper {
  float: right;
}
.blog .card_scroller {
  flex-wrap: inherit !important;
}
@media only screen and (max-width: 991px) {
  .blog .card_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.blog .card_scroller .flex_columns {
  width: 33%;
}
@media only screen and (max-width: 991px) {
  .blog .card_scroller .flex_columns {
    padding-right: 0;
    width: 69%;
  }
}
@media only screen and (max-width: 991px) {
  .blog .card_scroller .flex_columns:last-child {
    margin-right: 12px;
  }
}
.blog .card_scroller::-webkit-scrollbar {
  width: 0 !important;
}
.blog .card_scroller::-ms-scrollbar {
  width: 0 !important;
}
.blog .card {
  width: 80%;
  border: unset;
  border-radius: 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 991px) {
  .blog .card {
    width: 90%;
  }
}
.blog .card:hover {
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.0705882353);
}
@media only screen and (max-width: 991px) {
  .blog .card:hover {
    box-shadow: unset;
  }
}
.blog .card .card-body {
  padding: 37px 42px;
  position: relative;
  max-height: 160px;
  min-height: 160px;
}
@media only screen and (max-width: 1660px) {
  .blog .card .card-body {
    padding: 21px 25px;
    max-height: 150px;
    min-height: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog .card .card-body {
    padding: 17px 17px;
  }
}
.blog .card .card-body .card-text {
  font-size: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1660px) {
  .blog .card .card-body .card-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog .card .card-body .card-text {
    font-size: 14px;
  }
}
.blog .card .card-body .date {
  position: absolute;
  bottom: 30px;
  left: 42px;
  color: #888888;
  font-size: 14px;
}
@media only screen and (max-width: 1660px) {
  .blog .card .card-body .date {
    left: 25px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog .card .card-body .date {
    left: 17px;
    font-size: 12px;
  }
}
.blog .card .card-img-top {
  border-radius: 0 !important;
}

.contact {
  padding: 200px 0;
  background: #fff;
}
@media only screen and (max-width: 1200px) {
  .contact {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 991px) {
  .contact {
    padding: 50px 0;
  }
}
.contact .address .title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  width: 80%;
}
@media only screen and (max-width: 1660px) {
  .contact .address .title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 991px) {
  .contact .address .title {
    font-size: 24px;
    line-height: 28px;
  }
}
.contact .address_holder {
  font-size: 14px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .contact .address_holder {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.contact .form {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .contact .form {
    margin-top: 16px;
  }
}
.contact .form_btn {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #d9d9d9;
  padding: 10px 70px;
  color: #000;
  float: right;
  font-weight: 300;
  transition: all 0.2s;
}
.contact .form_btn:hover {
  background: #d22730 0% 0% no-repeat padding-box;
  color: #fff;
  border-color: #d22730;
}
@media only screen and (max-width: 1660px) {
  .contact .form_btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact .form_btn {
    padding: 13px 57px;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.7px;
  }
}
.contact .form .privacy_policy {
  display: inline-block;
  width: 50%;
}
@media only screen and (max-width: 1660px) {
  .contact .form .privacy_policy {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact .form .privacy_policy {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .contact .form .privacy_policy {
    width: 41%;
    font-size: 10px;
  }
}
.contact .form .optional {
  color: #a4a4a4;
}
.contact .form .form-element {
  position: relative;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1660px) {
  .contact .form .form-element {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact .form .form-element {
    margin-bottom: 28px;
  }
}
.contact .form .form-element-hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #a4a4a4;
  display: block;
}
.contact .form .form-element-bar {
  position: relative;
  height: 1px;
  background: #a4a4a4;
  display: block;
  margin-top: 20px;
}
@media only screen and (max-width: 991px) {
  .contact .form .form-element-bar {
    margin-top: 14px;
  }
}
.contact .form .form-element-bar::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  height: 2px;
  display: block;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.contact .form .form-element-label {
  position: absolute;
  top: 0.75rem;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #000;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
  will-change: transform, color, opacity;
}
@media only screen and (max-width: 991px) {
  .contact .form .form-element-label {
    font-size: 14px;
  }
}
.contact .form .form-element-field {
  outline: none;
  height: 1.5rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: 0 solid transparent;
  line-height: 1.5;
  width: 100%;
  color: #000;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}
@media only screen and (max-width: 1660px) {
  .contact .form .form-element-field {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact .form .form-element-field {
    font-size: 14px;
  }
}
.contact .form .form-element-field::-moz-placeholder {
  color: #a4a4a4;
  transform: scale(0.9);
  transform-origin: left top;
}
.contact .form .form-element-field::placeholder {
  color: #a4a4a4;
  transform: scale(0.9);
  transform-origin: left top;
}
.contact .form .form-element-field:focus ~ .form-element-bar::after {
  transform: rotateY(0deg);
}
.contact .form .form-element-field:focus ~ .form-element-label {
  color: #000;
}
.contact .form .form-element-field.-hasvalue,
.contact .form .form-element-field:focus {
  opacity: 1;
}
.contact .form .form-element-field.-hasvalue ~ .form-element-label,
.contact .form .form-element-field:focus ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}
.contact .form .form-has-error .form-element-label.form-element-label,
.contact .form .form-has-error .form-element-hint {
  color: #d9534f;
}
.contact .form .form-has-error .form-element-bar,
.contact .form .form-has-error .form-element-bar::after {
  background: #d9534f;
}
.contact .form .form-is-success .form-element-label.form-element-label,
.contact .form .form-is-success .form-element-hint {
  color: #259337;
}
.contact .form .form-is-success .form-element-bar::after {
  background: #259337;
}
.contact .form input.form-element-field:not(:-moz-placeholder-shown), .contact .form textarea.form-element-field:not(:-moz-placeholder-shown) {
  opacity: 1;
}
.contact .form input.form-element-field:not(:placeholder-shown),
.contact .form textarea.form-element-field:not(:placeholder-shown) {
  opacity: 1;
}
.contact .form select.form-element-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.contact .form .form-select-placeholder {
  color: #a6a6a6;
  display: none;
}
.contact .form .form-select .form-element-bar::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  display: block;
  right: 0.5em;
  bottom: 0;
  transition: transform 0.28s ease;
  transform: translateY(-100%) rotateX(0deg) rotate(45deg);
  will-change: transform;
}
.contact .form .form-select select:focus ~ .form-element-bar::before {
  transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}
.contact .form .form-element-field[type=number]::-webkit-outer-spin-button,
.contact .form .form-element-field[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  font-size: 16px;
  padding: 45px 0;
  border-top: 1px solid #d9d9d9;
  font-weight: 400;
  background: #fff;
  letter-spacing: 0.6px;
}
@media only screen and (max-width: 1660px) {
  .footer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 70px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .footer_container_helper {
    min-height: 300px;
  }
}
.footer_position_helper {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .footer_position_helper {
    height: 340px;
  }
}
.footer .year {
  position: absolute;
  bottom: 0;
  left: calc(var(--bs-gutter-x) * 0.5);
}
.footer_list, .footer_list_2 {
  float: right;
  margin-bottom: 116px;
}
.footer_list a, .footer_list_2 a {
  all: unset;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .footer_list a, .footer_list_2 a {
    margin-bottom: 29px;
  }
}
@media only screen and (max-width: 991px) {
  .footer_list {
    position: absolute;
    float: unset;
    margin: 40px 0 40px -11vw;
  }
}
@media only screen and (max-width: 576px) {
  .footer_list {
    left: calc(var(--bs-gutter-x) * 0.5);
    margin: 80px 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer_list_2 {
    position: absolute;
    left: 40%;
    margin: 40px 0;
  }
}
@media only screen and (max-width: 576px) {
  .footer_list_2 {
    margin: 80px 0;
  }
}
.footer .btn_holder {
  float: right;
  margin-bottom: 116px;
}
@media only screen and (max-width: 991px) {
  .footer .btn_holder {
    margin-top: -15px;
  }
}
.footer .btn_holder .space {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  padding: 10px 18px;
  color: #000;
  float: right;
  transition: all 0.2s;
}
.footer .btn_holder .space:hover {
  background: #d22730 0% 0% no-repeat padding-box;
  color: #fff;
  border-color: #d22730;
}
@media only screen and (max-width: 1200px) {
  .footer .btn_holder .space {
    padding: 13px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    width: 150px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .footer .btn_holder .space {
    background: #d22730 0% 0% no-repeat padding-box;
    color: #fff;
    border-color: #d22730;
  }
}
.footer .btn_holder .privacy {
  all: unset;
  position: absolute;
  bottom: 0;
  right: calc(var(--bs-gutter-x) * 0.5);
  cursor: pointer;
  width: 145px;
  text-align: right;
}

.en,
.sr {
  all: unset;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 0;
}
@media only screen and (max-width: 1660px) {
  .en,
  .sr {
    font-size: 14px;
  }
}

.language_mobile {
  display: none;
  position: absolute;
  right: 70px;
  top: 8px;
  font-size: 17px;
  text-decoration: underline;
  z-index: 99;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .language_mobile.active {
    display: block;
  }
}

.menu-items {
  position: fixed;
  padding: 15vh 3rem 9rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  opacity: 0;
  font-size: 14px;
  letter-spacing: 0.7;
  font-weight: 300;
  border: 4px solid #000;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 200ms ease-in-out, opacity 100ms;
  z-index: 9;
  height: 100vh;
}

.menu_white_logo {
  position: absolute;
  top: 14px;
  left: 12px;
}

.get_space_menu_wrapper {
  width: 242px;
  margin: 95px auto 0;
  position: absolute;
  bottom: 22vh;
  left: 50%;
  transform: translate(-50%, 0);
}
.get_space_menu_wrapper .space {
  all: unset;
  cursor: pointer;
  border: 1px solid #888888;
  color: #fff;
  transition: all 0.2s;
  padding: 13px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}
.get_space_menu_wrapper .space:hover {
  background: #d22730 0% 0% no-repeat padding-box;
  color: #fff;
}

.social_links_holder {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}
.social_links_holder a {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  margin: 0 18px;
}

.menu-items li {
  color: white;
  padding: 23px 0;
  width: 65px;
  margin: auto;
}

.menu-items li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.menu-items li a:hover {
  color: rgb(174, 174, 174);
}

.check {
  position: fixed;
  right: 34px;
  top: 35px;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 999;
}
@media only screen and (max-width: 991px) {
  .check {
    top: 10px;
    right: 10px;
    height: 2rem;
  }
}

.check:hover {
  cursor: pointer;
}

.check:checked ~ .menu-items {
  transform: translateX(0%);
  opacity: 1;
}

.check:checked ~ .ham-menu .line {
  background-color: white;
}

.check:checked ~ .language_mobile {
  z-index: 0;
}

.ham-menu {
  height: 2.4rem;
  width: 3rem;
  position: fixed;
  right: 34px;
  top: 35px;
  padding: 0.5rem;
  z-index: 99;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.25em;
  display: none;
}
@media only screen and (max-width: 991px) {
  .ham-menu {
    display: flex;
    top: 0;
    right: 8px;
    animation: ham_animate 2s ease-out forwards;
    -webkit-animation: ham_animate 2s ease-out forwards;
  }
  @keyframes ham_animate {
    0% {
      top: 0;
      opacity: 0;
    }
    50% {
      top: 8px;
      opacity: 1;
    }
    100% {
      top: 8px;
      opacity: 1;
    }
  }
}

.ham-menu .line {
  background-color: black;
  width: 1.5rem;
  height: 2px;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked ~ .ham-menu {
  height: 3rem;
  top: 3px;
  right: 0;
  transform: scale(0.8);
}

.check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}

.blog_single_helper {
  padding-top: 280px;
}
@media only screen and (max-width: 991px) {
  .blog_single_helper {
    padding-top: 36px;
  }
}

.blog_single {
  padding-bottom: 280px;
}
@media only screen and (max-width: 991px) {
  .blog_single {
    padding-bottom: 36px;
  }
}
.blog_single .slide_img {
  width: 100%;
}
.blog_single .title_mobile .blog_single_head_mobile {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
  line-height: 28px;
}
.blog_single .title_mobile .blog_single_small_mobile {
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 0.7;
}
.blog_single .holder {
  margin-top: 20%;
}
@media only screen and (max-width: 1400px) {
  .blog_single .holder {
    margin-top: 9%;
  }
}
@media only screen and (max-width: 991px) {
  .blog_single .holder {
    margin-top: 0;
  }
}
.blog_single .holder .title {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  line-height: 65px;
  width: 95%;
  padding-left: 120px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1660px) {
  .blog_single .holder .title {
    font-size: 43px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 1400px) {
  .blog_single .holder .title {
    width: 100%;
    padding-left: 50px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_single .holder .title {
    font-size: 38px;
    line-height: 45px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .blog_single .holder .title {
    font-size: 24px;
    line-height: 28px;
  }
}
.blog_single .holder .title .blog_single_small {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 1660px) {
  .blog_single .holder .title .blog_single_small {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_single .holder .title .blog_single_small {
    font-size: 14px;
  }
}
.blog_single .holder .title .blog_single_head {
  font-size: 50px;
  line-height: 65px;
}
@media only screen and (max-width: 1660px) {
  .blog_single .holder .title .blog_single_head {
    font-size: 43px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_single .holder .title .blog_single_head {
    font-size: 39px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_single .holder .title .blog_single_head {
    font-size: 24px;
    line-height: 28px;
  }
}
.blog_single .holder .description {
  font-size: 18px;
  padding-left: 120px;
}
@media only screen and (max-width: 1660px) {
  .blog_single .holder .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1400px) {
  .blog_single .holder .description {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_single .holder .description {
    padding-left: 0;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_single .holder .description {
    font-size: 12px;
    margin-top: 20px;
    width: 90%;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.6;
  }
}
.blog_single .position_helper {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .blog_single .position_helper {
    min-height: 130px;
  }
}

.blog_1_sr {
  display: none;
}
.blog_1_sr.active {
  display: block;
}

.blog_1_en {
  display: none;
}
.blog_1_en.active {
  display: block;
}

.blog_2_sr {
  display: none;
}
.blog_2_sr.active {
  display: block;
}

.blog_2_en {
  display: none;
}
.blog_2_en.active {
  display: block;
}

.blog_3_sr {
  display: none;
}
.blog_3_sr.active {
  display: block;
}

.blog_3_en {
  display: none;
}
.blog_3_en.active {
  display: block;
}

.blog_4_sr {
  display: none;
}
.blog_4_sr.active {
  display: block;
}

.blog_4_en {
  display: none;
}
.blog_4_en.active {
  display: block;
}

.blog_5_sr {
  display: none;
}
.blog_5_sr.active {
  display: block;
}

.blog_5_en {
  display: none;
}
.blog_5_en.active {
  display: block;
}

.english {
  display: none;
}
.english.active {
  display: block;
}

.serbian {
  display: none;
}
.serbian.active {
  display: block;
}/*# sourceMappingURL=main.css.map */